{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br><br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="Product Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <br><br>
                    <p class="card-text justify-content-around">{{product.description}}</p>

                    {% if product.is_sale %}
                        <h5> &#11088; &#11088; Sale &#11088; &#11088;</h5>           
                        <strike> ${{ product.price }} </strike> &nbsp;
                        <strong>${{ product.sale_price }}</strong>
                    {% else %}
                        <p class="card-text">${{product.price}}</p>
                    {% endif %}

                    <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>

                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>
</div>

{% endblock %}
